.login-layout-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 100px;
  padding-right: 100px;
  height: 100vh;

  .left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title-green {
      color: $theme-primary;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
